/* *{
    margin:0;
    padding: 0;
} */
.container{
    background-color: burlywood;
    margin: 30%;
    width: 60%;
    border: 2px red solid;
}
.box1{
    margin: auto;
    border: 2px red solid;
}
.box2{
    margin:auto;
    border: 2px red solid;
}